{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personify</title>
    <link rel="stylesheet"  href="{%  static  'css/style.css'  %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
</head>
<body>

<div class="wrapper">
    <header>
        <nav>
            <div class="menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="https://daviskeene.com/blog/" target="_blank">Blog</a></li>
                    <li><a href="mailto:dbkeene.tsyc@gmail.com">Contact</a></li>
                </ul>
            </div>
        </nav>
        </header>
</div>

<div style="margin-top: 8em; position: relative; width: 50%; display: inline-block;">
    <h1>Personify</h1>
    <p>
        Find your new favorite songs from Spotify artists.
    </p>

    <p style="font-size: 18px;">
        Personify ranks a Spotify artists' discography based on your recent listening history. Using Spotify's song metrics and other data,
        we'll let you know which songs you're most likely to enjoy from any given artist.
    </p>

    <p>How does Personify work?</p>
    <p style="font-size: 16px;">
    Spotify has spent <u>millions</u> of dollars analyzing musical waveforms to extract song metrics. These metrics include numbers to quantify song qualities like:
    <i>danceability, speechiness, loudness, tempo</i>, etc.
    </p>

    <p style="font-size: 16px;">
    Personify analyzes your top 50 listened to songs in a short timeframe, and computes a weighted average of all the song metrics. This generates a vector of song feature values that
    represents a users' <u>ideal</u> song values. Next, we analyze each song from an artists' discography, and compare that songs' metrics to our users' ideal metric vector.
    </p>

    <p style="font-size: 16px;">
    We can compute the z-score (number of standard deviations away from our ideal feature values) for each feature in the song we are analyzing. Next, we sum all of these distances to get
    a measure of how similar this particular song is to our current music taste. Songs with a low z-score sum are ranked higher, because they have song metrics that are closer to our ideal
    metric values. Below is a short illustration that demonstrates how this works:
    </p>
</div>

<h2>How does Personify work?</h2>
<embed src="/static/artistly-about.pdf" width="800px" height="2200px" />
<!-- <iframe src="/static/artistly-about.pdf" style="width: 100%;height: 100%;border: none;">
</iframe> -->
<br><br>