{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Artistly</title>
    <link rel="stylesheet"  href="{%  static  'css/style.css'  %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
</head>
<body>


<div class="wrapper">
    <header>
    <nav>
        <div class="menu-icon">
            <i class="fa fa-bars fa-2x"></i>
        </div>
        <div class="menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="https://daviskeene.com/blog/">Blog</a></li>
                <li><a href="mailto:dbkeene.tsyc@gmail.com">Contact</a></li>
            </ul>
        </div>
    </nav>
    </header>
</div>

<div style="margin-top: 8em; position: relative; width: 50%; display: inline-block;">
    <h1 style="top: 20px; text-align: center;">Artistly</h1>
    <p>
        Find your new favorite songs from Spotify artists.
    </p>
    <a href="{% url 'sign-in' %}" class="button" style="font-size: 20px; line-height: 1.2;">Sign In with Spotify</a>
</div>

<div class="container">
    <article id="main">
    <ol>
        {% for i in results %}
            <li><a href="{{ i.href }}">{{ i.name }}</a><br></li>
        {% endfor %}
    </ol>
    </article>
</div>
</body>
</html>