{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Artistly</title>
    <link rel="stylesheet"  href="{%  static  'css/style.css'  %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
</head>
<body>

<div class="wrapper">
    <header>
        <nav>
            <div class="menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="https://daviskeene.com/blog/">Blog</a></li>
                    <li><a href="mailto:dbkeene.tsyc@gmail.com">Contact</a></li>
                </ul>
            </div>
        </nav>
        </header>
</div>

<div style="margin-top: 8em; position: relative; width: 50%; display: inline-block;">
    <h1>Artistly</h1>
    <p>
        Find your new favorite songs from Spotify artists.
    </p>

    <p style="font-size: 18px;">
        Artistly ranks a Spotify artists' discography based on your recent listening history. Using Spotify's song metrics and other data,
        we'll let you know which songs you're most likely to enjoy from any given artist.
    </p>
</div>

<div>
    <form method="POST" action="" style= text-align:center;>
        {% csrf_token %}
        {{ form.as_p }}
       <input type="text" name="handle" placeholder="Enter the name of an artist..." value="{{ artist }}" style=width:800px;height:50px;font-size:20px><br>
   <input type="submit" value="Get Ranked Discography" class="button">
   </form>
</div>

<div class="container">
    <ul class="results center">
        {% for i in results %}
            <li><a href="{{ i.href }}">{{ i.name }}</a><br></li>
        {% endfor %}
    </ul>
</div>
</body>
</html>